.user-profile {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  margin-left: 10px;
  font-size: 16px;
  color: #333;
}

.drop-menu {
  display: none; /* Initially hidden */
  position: absolute;
  top: 50px; /* Position dropdown below the logo */
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 150px;
  z-index: 10;
}

.drop-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.drop-item:hover {
  background-color: #f0f0f0;
}

.drop-menu .drop-item:last-child {
  border-bottom: none;
}
